@import '../../../node_modules/react-md-editor/dist/react-md-editor';
@import '../../../node_modules/codemirror/lib/codemirror';
@import './md-editor-codemirror-theme';

.MDEditor_editor {
  border:none;
}
.MDEditor, .MDOutput {
  width: 50%;
  float: left;
  padding-right: 2em;
}
.editor-blocked .MDEditor{
  pointer-events: none !important;
}
.editor-blocker{
 width: 50%;
 float: left;
 padding-right: 2em; 
 position: absolute;
 z-index: 1000;
}
.st-thebe-buttons {
  float: right;
  margin-bottom: 1em;
  margin-right: 2em;
}

.thebe_controls {
  margin-top: .5em;
}
.MDEditor_toolbar {
  background: $color-background-lighter;
  box-shadow: 0 1px 2px 0px $color-background-light;
}

.MDEditor_toolbarButton {
	color: black!important;
  width: auto;
	margin-right: 5px;
	border-radius: 0;
	padding: 5px 5px 10px 5px;
	height: 25px;
  .MDEditor_toolbarButton_label-icon {
    font-size: 14px;  
  }
  .MDEditor_toolbarButton_icon > svg {
    width: 14px;
    height: 14px;
  }
}