@import '../../../node_modules/react-md-editor/dist/react-md-editor';
@import '../../../node_modules/codemirror/lib/codemirror';
@import './md-editor-codemirror-theme';

.MDEditor_editor {
  border:none;
}
.MDEditor, .MDOutput {
  width: 50%;
  float: left;
  padding-right: 2em;
}
.editor-blocked .MDEditor{
  pointer-events: none !important;
}
.editor-blocker{
 width: 50%;
 float: left;
 padding-right: 2em; 
 position: absolute;
 z-index: 1000;
}
.st-thebe-buttons {
  float: right;
  margin-bottom: 1em;
  margin-right: 2em;
}

.thebe_controls {
  margin-top: .5em;
}
