@import '../../../node_modules/react-md-editor/dist/react-md-editor';
@import '../../../node_modules/codemirror/lib/codemirror';
@import './md-editor-codemirror-theme';

.MDEditor_editor {
  border:none;
}
.MDEditor, .MDOutput {
  width: 50%;
  float: left;
  padding-right: 2em;
}

.st-thebe-buttons {
  float: right;
  margin-bottom: 1em;
  margin-right: 2em;
}

.thebe_controls {
  margin-top: .5em;
}

button {
  border: none!important;
}
button[data-inactive="true"] {
  color: $color-text-light;
  background-color: $color-background-light;
}