

html {
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 14px;

  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
 }

.material-icons.material-icons {
  font-size: 1em;
  line-height: inherit;
  // float: left;
  margin-top: .075em;
}


header {
  position: relative;
  z-index: 30;
  padding: 0 1em;
  background-color: $oreilly-red;
  color: $white;
  height: $header-height;
  line-height: $header-height;
  h1 {
    margin: 0;
    float: left;
  }
}
.st-status {
  float: right;
}

main {
  min-height: calc(100vh - #{$header-height});
  max-width: none !important;
  padding: 0 !important;
}

.st-intro {
  float: left;
  position: relative;
  z-index: 10;
  margin-left: $index-width;
  width: calc(100% - #{$index-width});
  padding: 1em;
  h1 {
    margin-top: 0;
  }
  p {
    font-size: 1.4em;
  }
}

footer {
  background-color: $color-background-dark;
  color:$white;
  padding: 4em 1em;
  width: 100%;
  float: left;
  position: relative;
  z-index: 40;
}