@import '../components/editors/md-editor';
@import '../components/editors/draft-editor';
@import '../components/editors/json-editor';
@import '../../node_modules/@oreillymedia/annotator/dist/main';

.st-editor {
  float: left;
  position: relative;
  z-index: 10;
  margin-left: $index-width;
  width: calc(100% - #{$index-width});
  padding: 1em;
  transition: width $transition-timing, margin-left $transition-timing;
  h1 {
    margin-top: 0;
  }
}
.st-editor-expanded {
  width: calc(100% - #{$index-width-collapsed});
    margin-left: $index-width-collapsed;
}
.st-editor-area {
  
}

.st-simple-editor {
  font-family: inherit;
  font-size: inherit;
  height: 100%;
  width: 100%;
  border:none;
  outline: none;
  resize: none;
  background-color: transparent;
  
}
.st-simple-editor-monospaced {
  font-family: $monospaced;
}

.st-cue-annotator {
  .top-bar {
    top: 110px; 
    padding-top: .5rem;
    left: 260px;
    transition: left $transition-timing;
  }
  .extras {
    padding-top: .5rem;
  }
  .st-editor-expanded & {
    .top-bar {left: 60px}
  }
  .material-icons.material-icons {
    font-size: 20px;
    line-height: 0;
    margin-top: 0;
  }
  input[type="checkbox"] + label:before {
    font-size: 11px;
  }
  .cue-index .cue-marker {
    font-size: 15px;
  }

  article.content {
    // margin-top: 0;
  }
  .videoPanel {
    top: 48px;
  }
}