@import '../../node_modules/react-treeview/react-treeview';

.st-project-index {
  position: fixed;
  overflow-y: auto;
  z-index: 20;
  width: $index-width;
  background-color: $color-background-lighter;
  top: 0;
  padding: #{$header-height} 0 1em 1em;
  height: 100vh;
  transition: width $transition-timing,  background-color $transition-timing;
}
.st-project-index-collapsed {
  background-color: transparent;
  width: $index-width-collapsed;
  .st-project-name { color: rgba(0,0,0,0);}
  .st-project-tree { opacity: 0; width: 0; height: 0;}
  &:hover {
    background-color: $color-background-lighter;
  }
}
.tree-view_children {
  max-height: 200vh;
  transition: max-height 250ms ease;
}
.tree-view_children-collapsed {
  height: auto;
  max-height: 0;
  overflow: hidden;
}
.st-project-name {
  font-weight: normal;
  font-size: 1.4rem;
  color: rgba(0,0,0,1);
  transition: color $transition-timing;
  cursor: pointer;
  .st-project-index-collapsed & {
    // cursor: e-resize;
  }
  .material-icons {
    float: left;
    color: $black;
  }
}
.st-project-tree {
  transition: width $transition-timing, opacity $transition-timing,height $transition-timing;
}

.st-file, .st-folder {
  padding: .3em;
} 
.st-file {
  margin-left: -20em;
  padding-left: 20em;
  cursor: default;
  .material-icons {
    float: right;
  }
}

.st-file-selected {
  background: $color-background-light;
}
.tree-view_arrow-collapsed {
  transform:none;
}
.tree-view_arrow:after {
    font-family: 'Material Icons';
    content: "folder_open";
}
.tree-view_arrow.tree-view_arrow-collapsed:after {
  content: "folder";
}

.icon-spinning {
  transform-origin: 50% 50%; 
  animation: spin .75s linear infinite;
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}