@import '../../node_modules/react-md-editor/dist/react-md-editor';
@import '../../node_modules/codemirror/lib/codemirror';
@import './md-editor-codemirror-theme';

.MDEditor_editor {
  border:none;
}
.MDEditor, .MDOutput {
  width: 50%;
  float: left;
  padding: 0 2em;
}

.st-button-thebe {
  float: right;
  margin-bottom: 1em;
}