@import 'components/md-editor';
@import '../node_modules/react-treeview/react-treeview';

html {
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 16px;

  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
}


$index-width: 200px;
.st-file-index{
  float: left;
  width: $index-width;
}
.st-editor {
  float: left;
  width: calc(100% - #{$index-width});
}

